<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="Firefox">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
.centerBlock {
  display: table;
  margin: auto;
}
.jumbotron{
    background-color:#e5f442;
    color:black;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}
.nav-tabs {
    margin-bottom: 0;
}
.btn-custom {
  background-color: #ef71dd;
  border-color: #ef71dd;
}
.btn-custom:hover {
  background-color: #3fffbf !important;
}
</style>
</head>
<body>

<form id="uploadbanner" enctype="multipart/form-data" method="POST" action="{{ url_for('home') }}">

    <div class="form-group">

        <div class="container">

            <div class="row">

                <div class="column">

                    <div class="page-header">
                        <br>
                        <img align=left src="/static/images/witchlogo.png" width="350" height="350">
                        <br>
                        <br>
                    </div>

                </div>

                <div class="column">

                    <div class="page-header">
                        <br>
                        <br>
                        <br>
                    </div>

                </div>

                <div class="column">
                    <div class="page-header">
                        <br>
                        <br>
                        <h2><i>PeptideWitch is designed to take raw spectral counting data and produce
                            high-stringency data for easy quantitation.</i></h2>
                        <br>
                        <h2>
                            <br>
                            <a href= "https://drive.google.com/file/d/13WHKc9n1HkPD1Jq_zErTvBYQMvKI1emq/view?usp=sharing">
                            Click here for an example dataset </a></h2>
                        <br>
                        <br>
                        <h2><i>How to use:</i></h2>
                        <br>
                        <br>
                        <img align=left src="/static/images/1.png" width="1175" height="750">
                        <br>
                        <br>
                    </div>
                </div>

            </div>

        </div>

        <br>

        <div class="container">

            <div class="row">

                <div class="col-lg-6 col-md-6 col-s-6 col-xs-12">
                    <h4>File Control</h4>
                    <div class="jumbotron">
                        <h4> Upload your files here </h4>
                        <br>
                        <input type="file" name="file[]" id="inputnameid" multiple=""/>
                        <br>
                        <br>
                        <h4> Type the name of your file stems here:  </h4>
                        <br>
                        <input id="a" name="names" type="text" onclick="save()" />
                        <br>
                        <br>
                        <h4> Desired replicate number:  </h4>
                        <br>
                        <input name="replicate" value="6" type="text" />
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-s-6 col-xs-12">
                    <h4>Help</h4>
                    <p> Select every file that you want to upload. Right now, only .CSV files are
                        supported. Please name your files into <b>identifiable states</b> and <b>replicates</b>, eg:</p>
                    <p>Old-R1.csv, Old-R2.csv, Old-R3.csv</p>
                    <p>Young-R1.csv, Young-R2.csv, Young-R2.csv</p>
                    <p>
                        Peptide Witch then needs to know how to separate your files into different states.
                        Type the full state name into the text box underneath the upload file tab.
                        For example, if you have two states - "Old" and "Young" -
                        you must type in "Old Young".
                    </p>
                    <p>Finally, tell Peptide Witch the number of replicates you have per state.
                        Replicate numbers must be the same in each state.</p>
                    <p>Min = 2, Max = 6</p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-s-6 col-xs-12">
                    <h4>Select Engine</h4>

                    <div class="jumbotron">
                        <input type="radio" name="engine" value="GPM" checked="checked" />
                            GPM
                        <br>
                        <br>
                        <input type="radio" name="engine" value="PD" />
                            Proteome Discoverer
                        <br>
                        <br>
                        <input type="radio" name="engine" value="MM" />
                        Meta Morpheus
                    </div>

                </div>

                <div class="col-lg-6 col-md-6 col-s-6 col-xs-12">
                    <h4>Engine Help</h4>
                    <p>Select the search engine that you used for making your .csv protein ID lists.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-s-6 col-xs-12">
                    <h4> Control Items (OPTIONAL) </h4>
                    <div class="jumbotron">
                        Disregard replicates:
                        <input type="text" name="disregard" value="0"> <br><br>
                        Minimum Spectral Count:
                        <input type="text" name="minspc" value="5"> <br><br>
                        Spectral fraction:
                        <input type="text" name="spcfrac" value="0.1"> <br><br>
                        P Value cutoff significance:<br>
                        <input type="text" name="pval" value="0.05"> <br><br>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-s-6 col-xs-12">
                    <h4>Misc Options Help</h4>
                    <p>These features are for fine-scale control over the way that the Scrappy Engine works.</p>
                    <p>The most useful feature here is the Disregard function. Default value is 0, which means that
                    for a protein to be considered highly stringent is must be missing in 0 replicates. If you think this is too strict of a measure,
                        or if you have more replicates, put the value up to 1 or even 2 . </p>
                    <p>Next, we have the Minimum Spectral Count value. In order for a protein to be considered highly stringent, the sum of the spectral counts
                        across all replicate must be greater than this threshold. So, imagine we set our MSC to 5 and successfully ID a protein across all three replicates. However,
                        their SpCs only add up to 4 in total - this protein is excluded from further analysis.
                    </p>
                    <p>Min Spc = the spectral fraction added to all spectral counts in order to avoid zero values</p>
                    <p>P Value Cutoff = the tried and true 0.05</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-6 col-md-6 col-s-6 col-xs-12">
            <div class="row">
                <div class="centerBlock">
                <button type="submit" value="Upload" class="btn btn-danger btn-lg">Run</button>
                <br>
                <br>
                <br>
                <br>
                <br>
                    </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-s-6 col-xs-12">
            <div class="row">
                <div class="centerBlock">
                <img class="img-responsive" src="{{ gif1 }}">
                    <img class="img-responsive" src="{{ gif2 }}">
                    <img class="img-responsive" src="{{ gif3 }}">
                    <br>
                    </div>
            </div>
        </div>

    </div>
</form>

<script type="text/javascript">
    function changeValue1()
    {
        // Changes the value of the button
        document.getElementById('pdb').value = 1;
        document.getElementById('gpmb').value = 0;
    }
    function changeValue2()
    {
        document.getElementById('gpmb').value = 1;
        document.getElementById('pdb').value = 0;
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
        $("#pdb").click(function() {
          $(this).toggleClass('btn-outline-danger btn-success ');
        });
        $("#gpmb").click(function() {
          $(this).toggleClass('btn-outline-danger btn-success ');
        });
        </script>

</body>
</html>

<!--////<button id="pdb" onclick="document.getElementById('pdb').value = 1;-->
        <!--document.getElementById('gpmb').value = 0;" type="button" class="btn btn-outline-danger"-->
                            <!--name="engine1" value="1">PD</button>////-->